body {
  margin: 0;
}

.top-container {
  background-image: url(../img/christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container h1 {
  color: white;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 3px;
}

.text {
  margin: 50px 5%;
  font-family: sans-serif;
}

.navbar  {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  transition: background-color .4s;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  margin: 0 10px;
  color: red;
  font-family: cursive;
}

.navbar ul li a:hover {
  color: rgba(245, 9, 9, 0.719);
}

.navbar.active {
  background-color: black;
}

.navbar .active ul li a {
  color: white;
}